
@font-face {
    font-family: "Geogrotesque";

    src: url("../fonts/geogrotesque/2705D8_8_0.eot?") format("eot"),
    url("../fonts/geogrotesque/2705D8_8_0.svg#Geogrotesque") format("svg");
    /*    url("../fonts/geogrotesque/2705D8_8_0.woff2") format("woff2"),
    url("../fonts/geogrotesque/2705D8_8_0.woff") format("woff"),
    //url("../fonts/geogrotesque/2705D8_8_0.ttf") format("truetype"),*/
}


/*@include fontface('Geogrotesque-Bold', 'fonts/geogrotesque/dale-fonts', '2705D8_5_0');
@include fontface('Geogrotesque-Light', 'fonts/geogrotesque/dale-fonts', '2705D8_6_0');
@include fontface('Geogrotesque-Medium', 'fonts/geogrotesque/dale-fonts', '2705D8_7_0');
@include fontface('Geogrotesque-SemiBold', 'fonts/geogrotesque/dale-fonts', '2705D8_9_0');
@include fontface('Geogrotesque-RegularIt', 'fonts/geogrotesque/dale-fonts', '2705D8_D_0');*/


h1 {
    font-family: "Geogrotesque", sans-serif;

    color: yellow;
    background: url("../images/ad.jpg") center center / cover no-repeat;
}
